.git
.github
.venv
project_venv
**/__pycache__
**/*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
htmlcov
.coverage
db.sqlite3
staticfiles
docs
scripts
.DS_Store
**/.DS_Store
requirements-dev.txt
pytest.ini
conftest.py
sports/tests
